<div class="container">
    <div class="card card-body">
        <h1 class="text-center mb-2 card-header">Create Category</h1>
        <form action="/admin/categories" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Enter title">
            </div>
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </form>
    </div><br><br>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{title}}</td>
                    <td><a href="/admin/categories/edit/{{_id}}" class="btn btn-info">Edit</a></td>
                    <td>
                        <form action="/admin/categories/delete/{{_id}}?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>