<div class="container mt-5">
    <div class="card card-body">
        <h1 class="text-center card-header">Generate Post</h1>
        <form action="/admin/generate" method="post">
            <div class="form-group">
                <input type="number" name="amount" id="" class="mt-2 form-control" >
            </div>
            <button type="submit" class="btn btn-block btn-dark">Generate</button>
        </form>
    </div>
</div>